.DMpage{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    .sousin{
        text-align: center;
    }
    .uee{
        text-align: center;
    }
    .mae{
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}