.photo_page{
    background-color: #F2E2BA;
    height: 5000px;
    width: 100%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    
    .toukoupage{
        text-align: center;
        font-size: 30px;
    }
    .submitte{
      
        position: absolute;
        top: 125px;
        right: 10px;
        display: inline-block;
        border-radius: 11%;
        /* 角丸       */
        font-size: 22pt;
        /* 文字サイズ */
        text-align: center;
        /* 文字位置   */
        cursor: pointer;
        /* カーソル   */
        padding: 12px 12px;
        /* 余白       */
        background: #f2b5d4;
        /* 背景色     */
        color: #4d243d;
        /* 文字色     */
        line-height: 1em;
        /* 1行の高さ  */
        transition: .3s;
        /* なめらか変化 */
        box-shadow: 6px 6px 3px #666666;
        /* 影の設定 */
        border: 2px solid #f2b5d4;
        /* 枠の指定 */
        text-decoration: none;
    }

    .submitte:hover {
        box-shadow: none;
        /* カーソル時の影消去 */
        color: #f2b5d4;
        /* 背景色     */
        background: #FE7F9C;
        /* 文字色     */
    }
    .photos-container{
        background-color: #F2E2BA;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        position: relative;
        padding-left: 20px;

        .post{
            display: flex;
            
        }
        
        .shousai1{
            background-color: #F2E2BA;
            display: flex;
            flex-direction: column;
            position: relative;
        }
        .shousai2{
            background-color: #F2E2BA;
            position: absolute;
            bottom: 0px;
            
        }
    }
}