.photo_page{
    height: 483px;
    .title{
        text-align: center;
    }
    .field{
        margin: 5px;
    }
    .submit{
        position: absolute;
        top: 300px;
        right: 10px;
        display: inline-block;
        border-radius: 11%;
        /* 角丸       */
        font-size: 22pt;
        /* 文字サイズ */
        text-align: center;
        /* 文字位置   */
        cursor: pointer;
        /* カーソル   */
        padding: 12px 12px;
        /* 余白       */
        background: #f2b5d4;
        /* 背景色     */
        color: #4d243d;
        /* 文字色     */
        line-height: 1em;
        /* 1行の高さ  */
        transition: .3s;
        /* なめらか変化 */
        box-shadow: 6px 6px 3px #666666;
        /* 影の設定 */
        border: 2px solid #f2b5d4;
        /* 枠の指定 */
    }

    .submit:hover {
        box-shadow: none;
        /* カーソル時の影消去 */
        color: #f2b5d4;
        /* 背景色     */
        background: #4d243d;
        /* 文字色     */
    }
    .toppage{
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
}