.event{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #F2E2BA;
    padding-left: 15px;
  
    .ue{
        text-align: center;
    }
    .top{
        font-size: 20px;
    }
}
